@font-face {
    font-family: 'CaviarDreamsRegular';
    src: url('../fonts/CaviarDreams-webfont.eot');
    src: url('../fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CaviarDreams-webfont.woff') format('woff'),
    url('../fonts/CaviarDreams-webfont.ttf') format('truetype'),
    url('../fonts/CaviarDreams-webfont.svg#CaviarDreamsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CaviarDreamsBold';
    src: url('../fonts/Caviar_Dreams_Bold-webfont.eot');
    src: url('../fonts/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Caviar_Dreams_Bold-webfont.woff') format('woff'),
    url('../fonts/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
    url('../fonts/Caviar_Dreams_Bold-webfont.svg#CaviarDreamsBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CaviarDreamsItalic';
    src: url('../fonts/CaviarDreams_Italic-webfont.eot');
    src: url('../fonts/CaviarDreams_Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CaviarDreams_Italic-webfont.woff') format('woff'),
    url('../fonts/CaviarDreams_Italic-webfont.ttf') format('truetype'),
    url('../fonts/CaviarDreams_Italic-webfont.svg#CaviarDreamsItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CaviarDreamsBoldItalic';
    src: url('../fonts/CaviarDreams_BoldItalic-webfont.eot');
    src: url('../fonts/CaviarDreams_BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CaviarDreams_BoldItalic-webfont.woff') format('woff'),
    url('../fonts/CaviarDreams_BoldItalic-webfont.ttf') format('truetype'),
    url('../fonts/CaviarDreams_BoldItalic-webfont.svg#CaviarDreamsBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

.lime-widget {
    /* transition: right 2s;
    /* -moz-transition: right 2s; /* Firefox 4 */
    /* -webkit-transition: right 2s; /* Safari and Chrome */
    /* -o-transition: right 2s; /* Opera */
    /*border: solid 1px #000;   */
    cursor: hand; cursor: pointer;
    background: rgba(128, 128, 128, 0.1);
    box-shadow: rgba(85,85,85,0.5) 0px 0px 24px;
    color: white;
    /* font-size: 9px; */
    /*right: -10000;*/
   /* transition: right 2s; */
}
.inactive {
    display: none !important;
}

.help:hover {
/*border-bottom: 2px solid #FFFFFF; */
border-top: 3px solid #FFFFFF;
    }

.slideoutbutton:hover {
/* border-bottom: 2px solid #FFFFFF; */
border-top: 3px solid #FFFFFF;
    }

.GoogleDirectionPlugin-color-decorator {
    height: 100%;
    width: 10px;
    background: #ffa100;
    position: absolute;
    top: 0;
    left: 0;
}
.YoutubePlugin-color-decorator {
    height: 100%;
    width: 10px;
    background: #f42230;
    position: absolute;
    top: 0;
    left: 0;
}
.BusinessPlugin-color-decorator {
    height: 100%;
    width: 10px;
    background: #f43dbd;
    position: absolute;
    top: 0;
    left: 0;
}
.DBPediaInfoPlugin-color-decorator {
    height: 100%;
    width: 10px;
    background: #287eff;
    position: absolute;
    top: 0;
    left: 0;
}
.GoogleWeatherPlugin-color-decorator {
    height: 100%;
    width: 10px;
    background: #FFE422;
    position: absolute;
    top: 0;
    left: 0;
}
.GeoNamesMapPlugin-color-decorator {
    height: 100%;
    width: 10px;
    background: #25DA25;
    position: absolute;
    top: 0;
    left: 0;
}
.annotation-wrapper .widget {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);	/*semitransparent black grey box*/
    box-shadow: rgba(0,0,0,0.8) 0px 0px 24px;
    position: relative;
    width: 100%;
}

.spacial-annotation-overlays-wrapper {
    padding: 0px;
    margin: 0px;
}


.spatial_annotation {
    box-shadow: rgba(255,255,255,0.5) 0px 0px 24px;
    font-size: 9px;
    color: #ffffff;
    border: solid 1px #fff;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    float: left;
}

.spatial_annotation, .concept-overlay {
    font-size: 2em;
}
.spatial_annotation_highlight {
    box-shadow: rgba(255,255,255,0.7) 0px 0px 24px;
    border: dashed 1px #fff;
}

.time-annotation-overlays-wrapper

.vjs-default-skin div.vjs-seek-handle {
    z-index: 1;
}
.time-annotation-overlays-wrapper {
    padding: 0px;
    margin: 0px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: transparent;
    pointer-events: none;
}
.time-annotation {
    position: absolute;
    top: 0;
    background: gray;
    width: 5px;
    height: 90%;
    border: 1px solid;
    border-radius: 5px;
    border-color: black;
    pointer-events: auto;
    cursor: pointer;
}
.spatial_annotation {
    box-shadow: rgba(255,255,255,0.5) 0px 0px 24px;
    font-size: 9px;
    color: #ffffff;
    border: solid 1px #fff;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    float: left;
}

.spatial_annotation, .concept-overlay {
    font-size: 2em;
}
.spatial_annotation_highlight {
    box-shadow: rgba(255,255,255,0.7) 0px 0px 24px;
    border: dashed 1px #fff;
}

.time-annotation-overlays-wrapper

/* style for annotations toggle */
.vjs-default-skin .vjs-annotationstoggler {
    width: 65px;
    height: 20px;
    cursor: pointer !important;
    float: left;
    border: 1px solid #111;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    background: #4d4d4d;
    margin: 0.2em auto 0;
    background: -moz-linear-gradient(top,  #4d4d4d 0%, #3f3f3f 50%, #333333 50%, #252525 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4d4d), color-stop(50%,#3f3f3f), color-stop(50%,#333333), color-stop(100%,#252525));
    background: -webkit-linear-gradient(top,  #4d4d4d 0%,#3f3f3f 50%,#333333 50%,#252525 100%);
    background: -o-linear-gradient(top,  #4d4d4d 0%,#3f3f3f 50%,#333333 50%,#252525 100%);
    background: -ms-linear-gradient(top,  #4d4d4d 0%,#3f3f3f 50%,#333333 50%,#252525 100%);
    background: linear-gradient(top,  #4d4d4d 0%,#3f3f3f 50%,#333333 50%,#252525 100%);
}

.vjs-control.vjs-annotationstoggler {
    width: 65px;
}
.vjs-annotationstoggler div {
    width: 65px;
    height: 16px;
    background: url('../img/connectme_logo_16.png');
    margin: 0.3em auto 0;
}/* */
.annotationstoggler-off div {
    background: url('../img/connectme_logo_16_off.png');
}

.vjs-default-skin .vjs-remaining-time-display {
    right: 0;
    margin-left: 15px;
}
.vjs-default-skin .vjs-current-time-display {
    left: 0;
    padding-left: 5px;
}
html {
    height: 100%
}
body {
    /* background-image: url('../img/background.png'); */
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
    background-image: url('../img/background.png');
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    overflow:hidden;
}

.mainwrapper {
    position: relative;
    align: center;
    z-index: 10;
}
.west {
    width: 200px;
    float: left;
    padding: 1px;
    margin: 3px;
    max-height: 900px;
    max-width: 250px;
    position: absolute;
    top: 80px;
    left: 5px;
}
.east {
    padding: 1px;
    margin: 3px;
    position: absolute;
    right: 5px;
    top: 80px;
    float: left;
    max-height: 900px;
    max-width: 250px;
}
.north {
    width: 100%;
    margin: 3px;
    padding: 1px;
    min-height: 20px;
    position: relative;
    float: left;
    max-height: 200px;
    max-width: 1920px;
}
.south {
    width: 100%;
    margin: 3px;
    padding: 1px;
    min-height: 20px;
    position: absolute;
    bottom: 40px;
    float: left;
    max-height: 200px;
    max-width: 1920px;
}

.videowrapper {
    position: relative;
    min-height: 370px;
}
#header {
    background: #242424;
    min-height: 30px;
    height: 36px;
    position: relative;
    z-index: 5;
}

#footer .container {
    color: #FFFFFF;
    padding: 0px;
    position: absolute;
    left: 50%;
    margin-left: -75px;	/* centering for an image ~150px wide */
}
#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 100px;
    width: 100%;
}
/* F�r ie6*/
* html #footer {
    position: absolute;
    top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop)) +'px' );
}
#footer .container img {
    padding: 10px;
    height: 25px;
}
#container {
    text-align: center;
}

a {
    color: #44A4C8;
    text-decoration: none;
}
a:hover {
    text-decoration: none
}

.widget-container {
    /* background-color: black; */
    text-align: center;
    z-index: 8000;
}
#widget-container-1 {
    /* border: 1px solid black; */
    position: absolute;
    /* float: left; */
    min-width: 15%;
    width: 21%;
    top: 1%;
    left: 1%;
}
#wrapper{
    position: absolute;
    width: 20%;
    z-index: 8000;
    right:0px;
    overflow: auto;
    bottom: 40px;
}
#widget-container-2 {
    width: 100%;
    min-height: 50px;
    position: absolute;
    bottom: 0px;
}
#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    background:transparent;
    display: none;
}
.mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    background: transparent;
    display: none;
}
#modalWindow, .modal-container {
    position: absolute;
    display: none;
    z-index: 9999;
    right: 0px !important;
    /* -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;*/
    overflow: hidden;
    /* background-color: black; */
    color: white;
    font: 22px 'Trebuchet MS', sans-serif;
    /*padding: 20px;*/
    /* min-width: 500px; */
    min-height: 100px
}


/* Concept overlay */
.concept-list-overlay {
    display: block;
    position: absolute;
    bottom: 2.7em;
    left: 50%;
    margin-left: -30%;
    z-index: 10;
    border: 1px red solid;
    width: 60%;
    min-height: 15px;
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    color: #000000;
    border: 0px solid #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.navcontainer ul {
    list-style-type: none;
    text-align: left;
}

.navcontainer ul li a {
    background: transparent url(images/list-off.gif) left center no-repeat;
    padding-left: 15px;
    text-align: left;
    font: normal 11px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
    text-decoration: none;
    color: #999;
}

.navcontainer ul li a:hover {
    background: transparent url(images/list-on.gif) left center no-repeat;
    color: black;
}

.navcontainer ul li a#current {
    background: transparent url(images/list-active.gif) left center no-repeat;
    color: #666;
}

.widget-container {
    position: relative;
    /* prevent shadows falling behind containers with backgrounds */
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}


.widget-container .lime-widget {
    position: relative;
    border: 1px solid #202020;
    border-bottom-color: black;
    background: #242424;
}

.widget-container .lime-widget:before, .widget-container .lime-widget:after {
    content: '';
    z-index: -1;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 70%;
    max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
    height: 33%;
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -webkit-transform: skew(-15deg) rotate(-6deg);
    -moz-transform: skew(-15deg) rotate(-6deg);
    -ms-transform: skew(-15deg) rotate(-6deg);
    -o-transform: skew(-15deg) rotate(-6deg);
    transform: skew(-15deg) rotate(-6deg);
}

.widget-container .lime-widget:after {
    left: auto;
    right: 10px;
    -webkit-transform: skew(15deg) rotate(6deg);
    -moz-transform: skew(15deg) rotate(6deg);
    -ms-transform: skew(15deg) rotate(6deg);
    -o-transform: skew(15deg) rotate(6deg);
    transform: skew(15deg) rotate(6deg);
}

.east {
    z-index: 1; /* prevent shadows falling behind containers with backgrounds */
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}
.widget-container .lime-widget.nav-selected {
    border: turquoise 1px solid;
}
.selected{
    border: turquoise 1px solid;
}

.lime-widget.deactivated {
    display: none !important;
}

.vjs-control.usersettings {
    float: right;
}
.vjs-control.usersettings div {
    background: url('video-js.png') -50px -75px;
    width: 22px;
    height: 16px;
    margin: 0.5em auto 0;
}
