/* screen css */
/*for annotations */
.AnnW { width: 118px; cursor: pointer !important; float: left; background-color: #CCC; color: red; position: absolute; top: 5px; right: 5px; 
/*-khtml-opacity:.50; -moz-opacity:.50; -ms-filter:”alpha(opacity=50)”; filter:alpha(opacity=50); opacity:.50;*/
font-size: 14px; 
}
.widget{
  border: 1px solid #111; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; 
  margin: 5px;
  margin-bottom: 10px;
  padding: 3px;
  background: rgba(128, 128, 128, 0.1);	
  border: solid 1px #999;
  
  box-shadow:rgba(255,255,255,0.5) 0px 0px 24px;
}
.annotation-wrapper .widget{
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);	/*semitransparent black grey box*/
	box-shadow:rgba(0,0,0,0.8) 0px 0px 24px;
	position: relative;
}

/* style for custom logo */
.vjs-default-skin .vjs-logobox { width: 118px; cursor: pointer !important; float: left; }
.vjs-default-skin .vjs-logobox div { width: 86px; height: 16px; background: url('../img/connectme_logo_16.png'); margin: 0.5em auto 0; z-index: 100003; }
.vjs-default-skin.vjs-fullscreen .vjs-logobox div { width: 86px; height: 16px; background: url('../img/connectme_logo_16.png'); margin: 0.5em auto 0; }

/* style for annotations toggle */
.vjs-default-skin .vjs-annotationstoggler { width: 73px; height: 20px; cursor: pointer !important; float: left; border: 1px solid #111; -moz-border-radius: 0.3em; -webkit-border-radius: 0.3em; border-radius: 0.3em; 
  background: #4d4d4d; margin: 0.2em auto 0;
  background: -moz-linear-gradient(top,  #4d4d4d 0%, #3f3f3f 50%, #333333 50%, #252525 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4d4d), color-stop(50%,#3f3f3f), color-stop(50%,#333333), color-stop(100%,#252525));
  background: -webkit-linear-gradient(top,  #4d4d4d 0%,#3f3f3f 50%,#333333 50%,#252525 100%);
  background: -o-linear-gradient(top,  #4d4d4d 0%,#3f3f3f 50%,#333333 50%,#252525 100%);
  background: -ms-linear-gradient(top,  #4d4d4d 0%,#3f3f3f 50%,#333333 50%,#252525 100%);
  background: linear-gradient(top,  #4d4d4d 0%,#3f3f3f 50%,#333333 50%,#252525 100%);}
.vjs-default-skin .vjs-annotationstoggler div { width: 73px; height: 16px; background: url('../img/annot_button.png'); margin: 0.3em auto 0;} /* */
.vjs-default-skin.vjs-fullscreen .vjs-annotationstoggler div { width: 73px; height: 16px; background: url('../img/annot_button.png'); margin: 0.3em auto 0;}	/* 0.2em auto 0;*/

/*
.vjs-default-skin .vjs-menu-button {
  float: right; margin: 0.2em 0.5em 0 0; padding: 0; width: 3em; height: 2em; cursor: pointer !important;

  border: 1px solid #111; -moz-border-radius: 0.3em; -webkit-border-radius: 0.3em; border-radius: 0.3em;

  background: #4d4d4d;
  background: -moz-linear-gradient(top,  #4d4d4d 0%, #3f3f3f 50%, #333333 50%, #252525 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4d4d), color-stop(50%,#3f3f3f), color-stop(50%,#333333), color-stop(100%,#252525));
  background: -webkit-linear-gradient(top,  #4d4d4d 0%,#3f3f3f 50%,#333333 50%,#252525 100%);
  background: -o-linear-gradient(top,  #4d4d4d 0%,#3f3f3f 50%,#333333 50%,#252525 100%);
  background: -ms-linear-gradient(top,  #4d4d4d 0%,#3f3f3f 50%,#333333 50%,#252525 100%);
  background: linear-gradient(top,  #4d4d4d 0%,#3f3f3f 50%,#333333 50%,#252525 100%);
}
/* Button Icon */




.vjs-default-skin .vjs-remaining-time-display { right: 0; margin-left: 15px;}
.vjs-default-skin .vjs-current-time-display { left: 0;   padding-left: 5px; }


body{background-color: #333; }
div{text-align: left;}
.mainwrapper{
	border: solid 2px #666;
	padding:1em;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-opera-border-radius:8px;
	-khtml-border-radius:8px;
	border-radius:8px;
	box-shadow:rgba(255,255,255,0.8) 0px 0px 24px; border-radius:12px;
	background: -moz-linear-gradient(center top , #E8E8E8 0%, #E8E8E8 50%, #FFFFFF 100%) repeat scroll 0 0 transparent;
	background: linear-gradient(center top, #E8E8E8 0%, #E8E8E8 50%, #FFFFFF 100%);
	background: -webkit-linear-gradient(top, #E8E8E8 0%, #E8E8E8 50%, #FFFFFF 100%);
	background: -ms-linear-gradient(top, #E8E8E8 0%, #E8E8E8 50%, #FFFFFF 100%);
	background: -o-linear-gradient(top, #E8E8E8 0%, #E8E8E8 50%, #FFFFFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E8E8E8, endColorstr=#FFFFFF,GradientType=1);
	background-color:#FFF;
	width: 98%;
	height: 600px;
	float: left
	position: relative;
	align: center;
}
.west{
	width: 200px;
	float: left;
	border: solid 1px #1c8317;
	padding: 5px; 
	margin: 5px;
}
.east{
	border: solid 1px #039;  
	padding: 5px; 
	margin: 5px;
	margin-left: 890px;

}
.center{
	border: solid 1px #c30; 
	float: left;
	margin: 5px;
	position:relative;
}
.north{
	border: solid 1px #1f169e; 
	width: 99%;
	margin: 5px;
	min-height: 20px;
}
.south{
	border: solid 1px #724c04; 
	width: 99%;
	margin: 5px;
	min-height: 20px;
	max-width: 640px;

}
.connectme_logo_player{
	background-image:url(../img/connectme_logo.png); background-repeat:no-repeat;
}

.videowrapper{
	position: relative;
	margin: 5px;
	min-height: 370px;
	min-width: 640px;
}
#header {
    background: -moz-linear-gradient(center top , #414141 0%, #161616 50%, #000000 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 3px 3px 1px #000000;
    height: 50px;
    position: relative;
    z-index: 5;
    background-color: #414141;
    background: linear-gradient(top, #414141 0%, #161616 50%, #000000 100%);
	background: -moz-linear-gradient(top, #414141 0%, #161616 50%, #000000 100%);
	background: -webkit-linear-gradient(top, #414141 0%, #161616 50%, #000000 100%);
	background: -ms-linear-gradient(top, #414141 0%, #161616 50%, #000000 100%);
	background: -o-linear-gradient(top, #414141 0%, #161616 50%, #000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#414141, endColorstr=#000000,GradientType=1);
	margin-bottom: 10px;
}
#footer {
    box-shadow: 0 -3px 3px 1px #000000;
    height: 185px;
    position: relative;
    z-index: 5;
    background-color: #414141;
	background: linear-gradient(top, #414141 0%, #161616 50%, #000000 100%);
	background: -moz-linear-gradient(top, #414141 0%, #161616 50%, #000000 100%);
	background: -webkit-linear-gradient(top, #414141 0%, #161616 50%, #000000 100%);
	background: -ms-linear-gradient(top, #414141 0%, #161616 50%, #000000 100%);
	background: -o-linear-gradient(top, #414141 0%, #161616 50%, #000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#414141, endColorstr=#000000,GradientType=1);
	margin-top: 10px;
}
#footer .container {
	color: #FFFFFF;
    padding: 0px;
    position:absolute;
    left:50%;
	margin-left: -75px;	/* centering for an image ~150px wide */
}
#footer .container img {
    padding:10px;
    height: 25px;
}
#video_metadata { 
	display: none;
	position:absolute; 
	background-color:#CCC; 
	top:0px;    
	left:0px;     
	width:640px;   /* dimensions need dynamic changing*/
	height:200px;
	z-index: 1001;
	opacity:0.6; 
	filter:alpha(opacity=60);
}
.spatial_annotation{
	box-shadow:rgba(255,255,255,0.5) 0px 0px 24px;
	position: absolute; 
	font-size: 9px; 
	color: #ffffff;  
	border: solid 1px #fff;
	cursor: pointer;
	z-index: 100002;
}
.fullscreen-annotation-wrapper{
	width: 100%;
	height: 100%;
	z-index: 100002;
}
.fullscreen-annotation-west { 
	text-align: left; 
	position: absolute; 
	top: 55px;
	left: 5px;
	width: 250px; 
	max-height: 90%;
/*	-khtml-opacity:.50; -moz-opacity:.50; -ms-filter:”alpha(opacity=50)”; filter:alpha(opacity=50); opacity:.50;*/
	font-size: 14px;
	color: #fff;
	border: solid 1px #EAEAEA;
	background: rgba(0, 0, 0, 0.2);	/*semitransparent black grey box*/
	z-index: 100002;
}
.fullscreen-annotation-east { 
	text-align: left; 
	position: absolute; 
	top: 55px;
	right: 5px;
	width:250px; 
	max-height: 90%;
	background-color:  rgba(31,89,160,0.1);
/*	background-color: #33e;
	-khtml-opacity:.50; -moz-opacity:.50; -ms-filter:”alpha(opacity=50)”; filter:alpha(opacity=50); opacity:.50;*/
	font-size: 14px;
	color: #fff;
	border: solid 1px #EAEAEA;
	background: rgba(0, 0, 0, 0.2);	/*semitransparent black grey box*/
	z-index: 100002;
}

.fullscreen-annotation-north { 
	position: absolute; 
	width:99%; 
	height: 40px;
	margin: 5px;
/*	background-color:  rgba(35,179,28,0.3);
	background-color: #4f2;
	-khtml-opacity:.50; -moz-opacity:.50; -ms-filter:”alpha(opacity=50)”; filter:alpha(opacity=50); opacity:.50;*/
	font-size: 14px;
	color: #fff;
	border: solid 1px #EAEAEA;
	background: rgba(0, 0, 0, 0.2);	/*semitransparent black grey box*/
	z-index: 100002;
}
.fullscreen-annotation-south { 
	position: absolute; 
	bottom: 43px;
	width: 99%; 
	height: 60px;
	margin: 5px;
	/*background-color:  rgba(246,227,15,0.3);
	background-color: #fc0;
	-khtml-opacity:.50; -moz-opacity:.50; -ms-filter:”alpha(opacity=50)”; filter:alpha(opacity=50); opacity:.50;*/
	font-size: 14px;
	color: #fff;
	border: solid 1px #EAEAEA;
	background: rgba(0, 0, 0, 0.2);	/*semitransparent black grey box*/
	z-index: 100002;
	max-width: 99%;
}

a{
	color: #44A4C8;
}